@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
    background-color: #202020;
}

.bg-secondary {
    background-color: #191919;
}

.bg-avatar {
    background-color: #3E3E3E;
}
