@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
    background-color: #202020;
}

.bg-secondary {
    background-color: #191919;
}

.bg-avatar {
    background-color: #3E3E3E;
}

.hermit-shadow-stroke {
    position: relative
}

.hermit-shadow-stroke:after {
    --tw-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
    border-radius: 9999px;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.dark .hermit-shadow-stroke:after,.hermit-shadow-stroke:after {
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)
}

.dark .hermit-shadow-stroke:after {
    --tw-shadow: inset 0 0 0 1px hsla(0,0%,100%,.2);
    --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color)
}
